<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 全局参数 -->
    <settings>
        <!-- 使全局的映射器启用或禁用缓存 -->
        <setting name="cacheEnabled"             value="true"   />
        <!-- 允许JDBC 支持自动生成主键 -->
        <setting name="useGeneratedKeys"         value="true"   />
        <!-- 配置默认的执行器.SIMPLE就是普通执行器;REUSE执行器会重用预处理语句(prepared statements);BATCH执行器将重用语句并执行批量更新 -->
        <setting name="defaultExecutorType"      value="SIMPLE" />
		<!-- 指定 MyBatis 所用日志的具体实现 -->
        <setting name="logImpl"                  value="SLF4J"  />
        <!-- 使用驼峰命名法转换字段 -->
		<!-- <setting name="mapUnderscoreToCamelCase" value="true"/> -->
	</settings>

    <typeAliases>
        <typeAlias type="com.giant.sound.broadcastcommon.dao.device.Device" alias="Device" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.vision.Vision" alias="Vision" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.vision.VisionStream" alias="VisionStream" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.device.DevicePlatformConnection" alias="DevicePlatformConnection" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.mediaLibrary.VolumeAdaptSchema" alias="VolumeAdaptSchema" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.device.volume_adapt.DeviceVolumeAdaptSchema" alias="DeviceVolumeAdaptSchema" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.device.signal.AxSignalSchema" alias="AxSignalSchema" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.device.signal.HkSignalSchema" alias="HkSignalSchema" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.device.signal.IoSignalSchema" alias="IoSignalSchema" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.device.signal.SignalEnable" alias="SignalEnable" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.device.DeviceOnAndOfflineRecord" alias="DeviceOnAndOfflineRecord" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.device.UserStarDevice" alias="UserStarDevice" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.system.SysDept" alias="SysDept" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.system.SysUser" alias="SysUser" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.system.SysDeptMenu" alias="SysDeptMenu" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.system.SysMenu" alias="SysMenu" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.system.SysOpeLog" alias="SysOpeLog" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.system.SysPerm" alias="SysPerm" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.system.DeveloperManage" alias="DeveloperManage" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.system.PlatformConnection" alias="PlatformConnection" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.system.ThemeConfig" alias="ThemeConfig" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.system.WxUser" alias="WxUser" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.system.Dict" alias="Dict" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.system.SysPlayPriority" alias="SysPlayPriority" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.mediaLibrary.MediaInfo" alias="MediaInfo" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.mediaLibrary.MicRecord" alias="MicRecord" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.mediaLibrary.AudioUploadRecord" alias="AudioUploadRecord" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.mediaLibrary.UpgradeFile" alias="UpgradeFile" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.mediaLibrary.SpeechSynthesisModel" alias="SpeechSynthesisModel" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.mediaLibrary.InfoBoardModel" alias="InfoBoardModel" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.mediaLibrary.WxMediaRecord" alias="WxMediaRecord" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.infoBoard.InfoBoardShow" alias="InfoBoardShow" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.infoBoard.InfoBoard" alias="InfoBoard" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.product.SeriesModel" alias="SeriesModel" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.product.SnCode" alias="SnCode" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.partition.DevicePartition" alias="DevicePartition" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.partition.DevicePartitionRelation" alias="DevicePartitionRelation" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.task.Task" alias="Task" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.task.AudioSubtask" alias="AudioSubtask" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.task.RelaySubtask" alias="RelaySubtask" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.task.SignalSubtask" alias="SignalSubtask" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.task.VolumeSubtask" alias="VolumeSubtask" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.alarm.Zone" alias="Zone" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.alarm.AlarmEvent" alias="AlarmEvent" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.alarm.Discovery" alias="Discovery" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.alarm.DiscoveryDataDocking" alias="DiscoveryDataDocking" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.alarm.ZoneAlarmStrategy" alias="ZoneAlarmStrategy" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.alarm.ZoneDeviceRelation" alias="ZoneDeviceRelation" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.alarm.ZoneDiscoveryRelation" alias="ZoneDiscoveryRelation" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.alarm.StrategyIssueRecord" alias="StrategyIssueRecord" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.alarm.AlarmVoucher" alias="AlarmVoucher" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.alarm.AlarmEscalationRecord" alias="AlarmEscalationRecord" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.openapi.OpenApiCallRecord" alias="OpenApiCallRecord" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.customer.PrivateCustomer" alias="PrivateCustomer" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.customer.PrivateLicense" alias="PrivateLicense" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.customer.PrivateCustomerItem" alias="PrivateCustomerItem" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.customer.PrivateDeviceInfo" alias="PrivateDeviceInfo" />
        <typeAlias type="com.giant.sound.broadcastcommon.dao.license.License" alias="License" />
    </typeAliases>
	
</configuration>
