<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.intranet.ssmcrmserver.dao.mapper.OperationAuthorityMapper">
    <resultMap id="BaseResultMap" type="com.intranet.ssmcrmserver.dao.model.OperationAuthority" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="idx" property="idx" jdbcType="INTEGER" />
        <result column="action_id" property="actionId" jdbcType="INTEGER" />
        <result column="action_name" property="actionName" jdbcType="VARCHAR" />
        <result column="action_type" property="actionType" jdbcType="INTEGER" />
        <result column="enable" property="enable" />
    </resultMap>

    <sql id="base_column_list">
        id, idx,action_id,action_name,action_type,enable
    </sql>

    <sql id="where_clause">
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="actionId != null">
            and action_id =#{actionId}
        </if>
        <if test="actionName != null">
            and action_name =#{actionName}
        </if>
        <if test="actionType != null">
            and action_type=#{actionType}
        </if>
        <if test="enable != null">
            and enable=#{enable}
        </if>
    </sql>

    <select id="selectListBySelective" resultMap="BaseResultMap">
        select
        <include refid="base_column_list" />
        from operation_authority
        where 1=1
        <include refid="where_clause"></include>
        order by idx
    </select>

    <update id="update" parameterType="com.intranet.ssmcrmserver.dao.model.OperationAuthority">
        update operation_authority
        <set>
            <if test="enable != null">
                enable=#{enable}
            </if>
        </set>
        where 1=1
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="actionId != null">
            and action_id =#{actionId}
        </if>
    </update>
</mapper>