<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intranet.ssmcrmserver.dao.mapper.SysMenuMapper">
	<resultMap id="SysMenuResult" type="com.intranet.ssmcrmserver.dao.model.SysMenu">
		<id     column="menu_id" property="menuId" jdbcType="INTEGER"/>
		<result column="menu_name" property="menuName" jdbcType="VARCHAR"/>
		<result column="parent_name" property="parentName" jdbcType="INTEGER"/>
		<result column="parent_id" property="parentId" jdbcType="INTEGER"/>
		<result column="order_num" property="orderNum" jdbcType="INTEGER"/>
		<result column="path" property="path" jdbcType="INTEGER"/>
		<result column="component" property="component" jdbcType="INTEGER"/>
		<result column="menu_type" property="menuType" jdbcType="INTEGER"  />
		<result column="is_init" property="isInit" jdbcType="INTEGER"  />
		<result column="use_status" property="useStatus" jdbcType="INTEGER"  />
		<result column="perms"  property="perms" jdbcType="INTEGER"  />
		<result column="meta" property="meta" jdbcType="VARCHAR"  />
		<result column="create_by" property="createBy" jdbcType="INTEGER"  />
		<result column="create_at" property="createAt" jdbcType="INTEGER"/>
		<result column="update_time" property="updateTime" jdbcType="INTEGER"/>
		<result column="update_by" property="updateBy" jdbcType="INTEGER"/>
		<result column="isDel" property="is_del" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="base_column_list">
     	menu_id, menu_name, parent_id, order_num, `path`, component, menu_type,
     	    is_init,use_status, perms, meta, create_at,create_by,update_by,update_time
    </sql>
	
	<sql id="where_clause">
		<if test="menuId != null">
			AND menu_id = #{menuId}
		</if>
		<if test="menuIdList != null">
			and menu_Id in
			<foreach collection="menuIdList" item="id" index="index" open="(" separator="," close=")">
				#{id}
			</foreach>
		</if>
		<if test="menuName != null and menuName != ''">
			AND menu_name like concat('%', #{menuName}, '%')
		</if>
		<if test="parentId != null">
			AND parent_id = #{parentId}
		</if>
		<if test="menuType != null">
			AND menu_type= #{menuType}
		</if>
		<if test="useStatus != null">
			AND use_status = #{useStatus}
		</if>
		<if test="isInit != null">
			AND is_init = #{isInit}
		</if>
		<if test="isDel != null">
			AND is_del = #{isDel}
		</if>
	</sql>
    
    <select id="selectMenuList" parameterType="com.intranet.ssmcrmserver.dao.model.SysMenu" resultMap="SysMenuResult">
		select <include refid="base_column_list"/>
		from sys_menu
		where is_del = 0
		<include refid="where_clause"></include>
		order by parent_id, order_num
	</select>

	<select id="selectOnUseMenuListByMenuIds" parameterType="java.util.List" resultMap="SysMenuResult">
		select <include refid="base_column_list"/>
		from sys_menu
		where is_del = 0 and use_status = 1
		<if test="menuIds != null">
			and menu_id in
			<foreach collection="menuIds" item="menuId" index="item" open="(" separator="," close=")">
				#{menuId}
			</foreach>
		</if>
		order by parent_id, order_num
	</select>

	<select id="selectInitMenuList" resultMap="SysMenuResult">
		select <include refid="base_column_list"/>
		from sys_menu
		where is_del = 0 and is_init = 1 and use_status = 1
		order by parent_id, order_num
	</select>
	
	<select id="selectOnUseMenuListAll" resultMap="SysMenuResult">
		select distinct m.menu_id, m.parent_id, m.menu_name, m.path, m.component, m.use_status, ifnull(m.perms,'') as perms,
		                m.menu_type, m.meta, m.order_num, m.create_at, m.is_del
		from sys_menu m where m.menu_type in ('M', 'C') and m.use_status = 1 and m.is_del = 0
		order by m.parent_id, m.order_num
	</select>
	
	<select id="selectMenuById" parameterType="java.lang.Integer" resultMap="SysMenuResult">
		select <include refid="base_column_list"/> from sys_menu
		where menu_id = #{menuId} and is_del = 0
	</select>
	
	<select id="hasChildByMenuId" resultType="Integer">
	    select count(1) from sys_menu where parent_id = #{menuId}  
	</select>
	
	<select id="checkMenuNameUnique" parameterType="com.intranet.ssmcrmserver.dao.model.SysMenu" resultMap="SysMenuResult">
		select <include refid="base_column_list"/> from sys_menu
		where menu_name=#{menuName} and parent_id = #{parentId} limit 1
	</select>
	
	<update id="updateMenu" parameterType="com.intranet.ssmcrmserver.dao.model.SysMenu">
		update sys_menu
		<set>
			<if test="menuName != null and menuName != ''">
				menu_name = #{menuName},
			</if>
			<if test="parentId != null">
				parent_id = #{parentId},
			</if>
			<if test="orderNum != null">
				order_num = #{orderNum},
			</if>
			<if test="path != null">
				`path` = #{path},
			</if>
			<if test="component != null">
				component = #{component},
			</if>
			<if test="menuType != null">
				menu_type = #{menuType},
			</if>
			<if test="meta != null">
				meta = #{meta},
			</if>
			<if test="isInit != null">
				is_init = #{isInit},
			</if>
			<if test="useStatus != null">
				use_status = #{useStatus},
			</if>
			<if test="perms != null">
				perms = #{perms},
			</if>
			<if test="remark != null and remark != ''">
				remark = #{remark},
			</if>
			<if test="updateBy != null and updateBy != ''">
				update_by = #{updateBy},
			</if>
		</set>
		where menu_id = #{menuId}
	</update>

	<insert id="insertMenu" parameterType="com.intranet.ssmcrmserver.dao.model.SysMenu">
		insert into sys_menu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="menuId != null">
				menu_id,
			</if>
			<if test="parentId != null">
				parent_id,
			</if>
			<if test="menuName != null">
				menu_name,
			</if>
			<if test="orderNum != null">
				order_num,
			</if>
			<if test="path != null">
				`path`,
			</if>
			<if test="component != null">
				component,
			</if>
			<if test="menuType != null">
				menu_type,
			</if>
			<if test="isInit != null">
				is_init,
			</if>
			<if test="useStatus != null">
				use_status,
			</if>
			<if test="perms != null">
				perms,
			</if>
			<if test="meta != null">
				meta,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="createAt != null">
				create_at,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="menuId != null">
				#{menuId},
			</if>
			<if test="parentId != null">
				#{parentId},
			</if>
			<if test="menuName != null">
				#{menuName},
			</if>
			<if test="orderNum != null">
				#{orderNum},
			</if>
			<if test="path != null">
				#{path},
			</if>
			<if test="component != null">
				#{component},
			</if>
			<if test="menuType != null">
				#{menuType},
			</if>
			<if test="isInit != null">
				#{isInit},
			</if>
			<if test="useStatus != null">
				#{useStatus},
			</if>
			<if test="perms != null">
				#{perms},
			</if>
			<if test="meta != null">
				#{meta},
			</if>
			<if test="remark != null">
				#{remark},
			</if>
			<if test="createBy != null">
				#{createBy},
			</if>
			<if test="createAt != null">
				#{createAt},
			</if>
		</trim>
	</insert>
	
	<delete id="deleteMenuById" parameterType="Long">
	    delete from sys_menu where menu_id = #{menuId}
	</delete>

</mapper> 